@model PtccAsp.net.Models.Cliente

@if (TempData["Sucesso"] != null)
{
    <div class="alert alert-success">@TempData["Sucesso"]</div>
}


@if (TempData["Erro"] != null)
{
    <div class="alert alert-danger">@TempData["Erro"]</div>
}


<div class="container d-flex justify-content-center">
    <form method="post"
          asp-controller="Cliente"
          asp-action="@(Model?.Id > 0 ? "Update" : "Create")"
          class="col-md-6">

        <h1 class="text-center">
            @(Model?.Id > 0 ? "Editar Cliente" : "Cadastrar Cliente")
        </h1>
        <input type="hidden" asp-for="Id" />

        <div class="mb-3">
            <label class="form-label">Nome do Cliente</label>
            <input type="text" class="form-control" asp-for="Nome" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" asp-for="Email" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Endereço</label>
            <input type="text" class="form-control" asp-for="Endereco" required>
        </div>

        <button type="submit" class="btn btn-primary w-100">
            @(Model?.Id > 0 ? "Atualizar" : "Cadastrar")
        </button>
    </form>
</div>